.env
/img
/DATA
df_.df1_farmaDosis.csv
df2_dosisEntregadas.csv
df3_unadosis.csv
df3_unadosis.csv
df4_dosiscompleta.csv
df5_edades_unadosis.csv
df6_edades_unadosis.csv
df_tripAd_Spain_Restaurants.csv
df_tablatotal_region_restaurant.csv
df_tablatotal_region_vacunas.csv.csv
cleaning_TripAd.ipynb
geo_jason_ccaa.json 
vegan_options_GOMERA_JPG